.theme-selector{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
    margin:20px auto;

}
.theme-buttons div{
    display: inline-block;
    height: 20px;
    width:20px;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 50%;

}

.mode-toggle {
    margin-right: auto;
    height: 24px;
    width: 24px;

}

